
<ul>
  <li *ngFor="let review of reviews">
    <span>{{hotels.get(review.hotel).name}}</span>
     <star-rating [(rating)]="review.rate" [readonly]="true" ></star-rating>
     <span>
       <span [ngClass]="review.moderated ? 'label-info' : 'label-default'"  class="label">
         {{review.moderated? 'Moderated' : 'Not moderated' }}
       </span>
     </span>
    <a [routerLink]="['/reviews', review.id]"><span class="glyphicon glyphicon-eye-open"></span></a>
  </li>
</ul>
<a *ngIf="currentUser.role === UserRole.User && availableHotels.length > 0 " [routerLink]="['add']"  class="add">
  <span class="glyphicon glyphicon-plus"></span>
</a>
<p *ngIf="currentUser.role === UserRole.Admin && reviews.length == 0" class="not-reviews">
  There are not reviews to moderate.
</p>
