<!-- main app container -->
<div id="wrapper">

        <!-- Sidebar -->
        <router-outlet name="navbar"></router-outlet>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        <alert></alert>
    </div>
