
.read-only {
  display:table;
  width: 100%;
  .form-group {
    display: table-row;
    input.form-control {
      display: table-cell;
      border: none;
      box-shadow: none;
      background: none;
    }
    label{
      display: table-cell;
      &::after{
        content:":"
      }
    }
  }
}
